@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

* {
  font-family: 'Pretendard Variable';
  letter-spacing: -1px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  object-fit: cover;
}
input, button, select, textarea {
  background-color: transparent;
  border: none;
  outline: none;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(180, 216, 253);
  height: 150px;
  border-radius: 20px;
}

/* display */
.dNone {
  display: none;
}

/* flex */
.dFlexCenter {
  display: flex;
  align-items: center;
}

/* position */
.posCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* hr */
.hr {
  margin: 20px 0;
  border: 1px solid #eee;
}

/* -------------------------------------------------- */
/* Common CSS */
.header, .footer {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}

/* Header */
.header {
  border-bottom: 1px solid #eee;
  position: relative;
  overflow: hidden;
}
.headerTitle {
  text-align: center;
  font-weight: 700;
}
.trigger {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  width: 20px;
  height: 15px;
}
.trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #007aff;
}
.trigger span:nth-child(1) {
  top: 0;
}
.trigger span:nth-child(2) {
  top: 50%;
}
.trigger span:nth-child(3) {
  top: 100%;
}
[class *= "headerMenu"] {
  position: fixed;
  top: 0;
  width: 70%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 10px 0 20px rgba(0,0,0,0.05);
  z-index: 1000;
  transition: 0.35s;
}
.headerMenu {
  left: -100%;
}
.headerMenuActive {
  left: 0;
}
.btnClose {
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 28px;
  color: rgb(143, 197, 250);
  cursor: pointer;
}
.welcomeText,
.headerUl {
  padding: 0 20px;
}
.welcomeText {
  background-color: #007aff;
  font-weight: 600;
  font-size: 30px;
  color: #fff;
}
.headerUl a {
  font-weight: 500;
  font-size: 24px;
}

/* Contents */
.Contents {
  height: calc(100vh - 122px);
  overflow-y: scroll;
}

/* Footer */
.footer {
  border-top: 1px solid #eee;
  text-align: right;
  font-weight: 400;
  color: #aaa;
}
.footerSns li {
  display: inline-block;
  margin-left: 20px;
}
.footerSns a {
  color: dodgerblue;
  font-size: 18px;
}
/* -------------------------------------------------- */

/* App.js */
.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

/* toDo */
.todoTitle {
  font-size: 50px;
}
.formInput {
  display: inline-block;
  height: 50px;
  padding-left: 7px;
  border: 1px solid #eee;
}
.formBtn {
  display: inline-block;
  width: 100px;
  height: 55px;
  margin-left: 3px;
  border: none;
  background: dodgerblue;
  border: 1px solid;
  font-weight: 600;
  color: #fff;
}

/* Movie */
.detailWrap {
  height: 100vh;
  background: rgb(23, 25, 32);
  color: #dedede;
  overflow: hidden;
  position: relative;
}
.detailContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.detailTitle {
  text-align: center;
  color: #fff;
  font-size: 42px;
}
.detailImg {
  border-radius: 40px;
}
.detailDesc {
  margin: 20px 0 0;
  font-size: 22px;
}
.detailItem {
  line-height: 1.5em;
}
.detailItem strong {
  margin-left: 5px;
  color: #fff;
  font-weight: 600;
}

/* board */
.boardContainer {
  margin: 50px 0;
}
.boardWrap {
  width: 1200px;
  margin: 0 auto 50px;
}
.boardThumb {
  width: 50%;
  height: 400px;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  overflow: hidden;
  position: relative;
}
.boardThumb img {
  width: 100%;
  height: 100%;
  transition: 0.35s;
}
.boardThumb img:hover {
  transform: translate(-50%, -50%) scale(1.1);
}
.boardDesc {
  width: 50%;
  padding: 20px;
  overflow: hidden;
}
.boardDate {
  font-weight: 400;
  font-size: 15px;
}
.boardTitle {
  margin: 25px 0 10px;
}
.boardSubTitle {
  font-weight: 600;
  margin: 0 0 20px;
}

/* btn */
.btnView {
  display: block;
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: 30px 0 0;
  border-radius: 50px;
  text-align: center;
  border: 1px solid #000;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: 0.35s;
}
.btnView:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  transition: 0.5s;
  z-index: -1;
}
.btnView:hover {
  color: #fff;
}
.btnView:hover:before {
  width: 100%;
}

/* Responsive */
@media (max-width: 767px) {
  .boardWrap.dFlexCenter {
    width: 100%;
    flex-direction: column;
    padding: 0 14px;
  }
  .boardThumb, .boardDesc {
    width: 100%;
  }
  .boardThumb {
    height: 200px;
  }
  .btnView {
    width: 100%;
  }
}