* {
  font-family: 'Pretendard Variable';
  letter-spacing: -1px;
  box-sizing: border-box;
}
body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

/* App.js */
.todoTitle {
  font-size: 50px;
}
.formInput {
  display: inline-block;
  height: 50px;
  padding-left: 7px;
  border: 1px solid #eee;
}
.formBtn {
  display: inline-block;
  width: 100px;
  height: 55px;
  margin-left: 3px;
  border: none;
  background: dodgerblue;
  border: 1px solid;
  font-weight: 600;
  color: #fff;
}
.hr {
  margin: 20px 0;
  border: 1px solid #eee;
}

.btnWrap {
  height: 100vh;
  background: rgb(23, 25, 32);
  color: #fff;
  overflow: hidden;
}
